include /layouts/base.pug

nav.anchor-links
    ul.anchor-links__list.js-scroll-list
        li.anchor-links__item 
            a(href="#about").anchor-links__link
                +icon("about-slot")
                | About the slot
        li.anchor-links__item 
            a(href="#slots").anchor-links__link
                +icon("popular-slots")
                | Popular Slots
        li.anchor-links__item 
            a(href="#proscons").anchor-links__link
                +icon("pros-cons")
                | Pros and Cons
        li.anchor-links__item 
            a(href="#howto").anchor-links__link
                +icon("how-to")
                | How to
        li.anchor-links__item 
            a(href="#faq").anchor-links__link
                +icon("faq")
                | FAQs
