include /layouts/base.pug
.author-block 
    img(src="img/author2.png", alt="")
    p.author-block__name Emily Johnson
    p.author-block__position Chief Editor
        span.author-block__rating(style="--rating: 4.2;") 4.2
    p My experience in the topics I study allows me to create informative and interesting content for you. I strive to provide articles that will inspire you and help you learn something new. Welcome to my site and I hope you find a lot of interesting and useful content here that will help you in your journey of learning and growth!
