include /layouts/base.pug
ul.logos
    li.logos__item 
        img(src="img/logo1.png", alt="")
    li.logos__item 
        img(src="img/logo2.png", alt="")
    li.logos__item 
        img(src="img/logo3.png", alt="")
    li.logos__item 
        img(src="img/logo4.png", alt="")
    li.logos__item 
        img(src="img/logo5.png", alt="")
    li.logos__item 
        img(src="img/logo6.png", alt="")
