@use "./media" as *;

@mixin rateStars($size: 24px, $sizeS: null) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    --percent: calc(var(--rating, 4.5) / 5 * 100%);

    &::before {
        content: "★★★★★"; // базовый fallback
        font-size: $size;
        line-height: $size;
        color: #ccc; // цвет пустых звезд
        position: relative;
        display: block;

        background: linear-gradient(
            to right,
            #fdce7e 0%,
            #b06901 var(--percent),
            var(--star-bg) var(--percent),
            var(--star-bg) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    @supports (
            -webkit-mask:
                url('data:image/svg+xml,<svg width="130" height="21" viewBox="0 0 130 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.139.984a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238A1 1 0 0 1 4.123 19.5l.56-5.522a1 1 0 0 0-.25-.767L.734 9.072a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474z" fill="currentColor"/></svg>')
                no-repeat center
        )
        or
        (
            mask:
                url('data:image/svg+xml,<svg width="130" height="21" viewBox="0 0 130 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.139.984a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238A1 1 0 0 1 4.123 19.5l.56-5.522a1 1 0 0 0-.25-.767L.734 9.072a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474z" fill="currentColor"/></svg>')
                no-repeat center
        ) {
        &::before {
            content: "";
            width: 120px;
            height: 24px;
            display: block;

            background:
                linear-gradient(to bottom, #fdce7e, #b06901) left / var(--percent) 100% no-repeat,
                var(--star-bg);

            -webkit-mask: url('data:image/svg+xml,<svg width="130" height="21" viewBox="0 0 130 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.139.984a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238A1 1 0 0 1 4.123 19.5l.56-5.522a1 1 0 0 0-.25-.767L.734 9.072a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474z" fill="currentColor"/></svg>')
                no-repeat center;
            -webkit-mask-size: contain;
            mask: url('data:image/svg+xml,<svg width="130" height="21" viewBox="0 0 130 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.139.984a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238A1 1 0 0 1 4.123 19.5l.56-5.522a1 1 0 0 0-.25-.767L.734 9.072a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474zm26 0a1 1 0 0 1 1.728 0l2.794 4.796a1 1 0 0 0 .652.474l5.425 1.174a1 1 0 0 1 .534 1.644l-3.698 4.139a1 1 0 0 0-.25.767l.56 5.522a1 1 0 0 1-1.399 1.016l-5.079-2.238a1 1 0 0 0-.806 0l-5.08 2.238a1 1 0 0 1-1.397-1.016l.56-5.522a1 1 0 0 0-.25-.767l-3.699-4.139a1 1 0 0 1 .534-1.644l5.425-1.174a1 1 0 0 0 .652-.474z" fill="currentColor"/></svg>')
                no-repeat center;
            mask-size: contain;

            color: unset;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            background-clip: unset;
        }
    }

    @if $sizeS != null {
        @include media-max-sm {
            &::before {
                font-size: $sizeS;
                line-height: $sizeS;
            }
        }
    }
}
