@use "../settings" as *;

.footer {
    position: relative;
    margin-top: 32px;
    padding: 32px;
    @include flex(column, flex-start, flex-start, 24px);
    background: var(--surface-surface-bright, #1a1f42);

    &__row {
        position: relative;
        width: 100%;
        @include flex(row, flex-start, flex-start);
        gap: 20px 64px;
        padding-bottom: 24px;

        &--copyright {
            gap: 16px;
            align-items: center;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, #1e244c 0%, #4e589c 47.12%, #1e244c 100%);
        }
    }

    &__nav {
        width: 100%;

        &-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px 24px;

            a {
                color: var(--on-surface-on-surface-light, #fff);
                text-align: center;
                @include transition(color);

                @include hover {
                    color: var(--primary-primary-hover, #e9335d);
                }

                @include activeFocus {
                    color: var(--primary-primary-focus, #ee3b64);
                }
            }
        }

        &-item,
        &-link {
            text-align: center;
        }
    }

    &__flags {
        margin-left: auto;
        @include flex(row, center, flex-start, 24px);
        flex-wrap: wrap;

        li {
            max-width: 100%;
        }

        img,
        svg {
            max-width: 32px;
            max-height: 23px;
        }
    }

    &__logo {
        display: flex;

        &:is(a) {
            @include hoverOpacity;
        }

        img,
        svg {
            @include maxSize(200px, 50px);
            object-fit: contain;
        }
    }

    &__copyright {
        @include flex(row, center, flex-start, 10px);
        color: var(--on-surface-on-surface-light, #fff);

        img,
        svg {
            @include maxSize(32px, 32px);
        }
    }

    @include mediaMax(1320px) {
        padding-inline: var(--offsets, 20px);
    }

    @include media-max-mlg {
        &__row {
            flex-direction: column;
            align-items: flex-start;

            &--copyright {
                flex-direction: column-reverse;
            }
        }

        &__nav-list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__flags {
            margin-left: 0;
        }
    }

    @include media-max-sm {
        gap: 20px;
        padding-block: 24px;

        &__row {
            padding-bottom: 20px;
        }

        &__nav {
            &-list {
                grid-template-columns: 1fr;
                flex-direction: column;
                gap: 20px;
            }
            &-item,
            &-link {
                text-align: left;
            }
        }

        &__copyright {
            @include font-body-small;
        }
    }
}
