@use "../settings" as *;

.section-hero {
    margin-block: 32px 48px;
    @include flex(column, center, flex-start, 20px);

    h1,
    p {
        margin: 0;
        text-align: center;
    }

    p:not([class]) {
        max-width: 846px;
    }

    &__demo {
        @include flex(column, stretch, flex-start);
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 15px 65.9px 0 rgba(6, 7, 21, 0.7);

        & > * {
            position: relative;
            z-index: 1;
        }

        border: 2px solid transparent;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image:
            -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(var(--surface-container-surface-container-low, #080b1b)),
                to(var(--surface-container-surface-container-low, #080b1b))
            ),
            linear-gradient(180deg, #424c93 0%, #0f1332 100%);
        background-image:
            linear-gradient(
                var(--surface-container-surface-container-low, #080b1b),
                var(--surface-container-surface-container-low, #080b1b)
            ),
            linear-gradient(180deg, #424c93 0%, #0f1332 100%);

        &-row {
            padding: 8px 24px;
            width: 100%;
            @include flex(row, center, flex-start, 16px);
            background: var(
                --surface-container-surface-container-transparent,
                rgba(14, 14, 52, 0.7)
            );
        }

        &-logo {
            margin-left: -24px;
            margin-block: -8px;
            max-width: 290px;
            padding: 8px 8px 8px 24px;
            border-radius: 0 32px 0 0;
            background: linear-gradient(180deg, #161b3f 0.7%, #0f1332 100.7%);
            @include flex(row, center, flex-start, 12px);

            color: var(--on-surface-on-surface-light, #fff);
            font-weight: 600;

            img,
            svg {
                max-width: 70px;
            }
        }

        &-btns {
            flex: 1;
            @include flex(row, stretch, flex-start, 16px);
            flex-wrap: wrap;

            .btn {
                flex: 1;
            }
        }
    }

    @include media-max-mlg {
        &__demo {
            &-row {
                flex-direction: column-reverse;
                align-items: stretch;
            }

            &-logo {
                max-width: calc(100% + 48px);
                width: calc(100% + 48px);
                border-radius: 0;
            }
        }
    }

    @include media-max-sm {
        margin-block: 16px 24px;
        gap: 16px;

        &__demo {
            &-row {
                padding: 0;
                gap: 0;
            }

            &-btns {
                padding: 12px 8px;
                gap: 8px;
            }

            &-logo {
                margin: 0;
                width: 100%;
                max-width: 100%;
                padding: 4px 8px 8px;
            }
        }
    }
}
