@use "../settings" as *;

.section-faq {
    &__wrap {
        @include flex(row, flex-start, flex-start, 16px);
    }

    &__list {
        @include flex(column, stretch, flex-start, 16px);
        flex: 1;
    }

    &__item {
        @include relative();
        border-radius: 8px;
        border: 1px solid var(--outline-outline-light, #434a82);
        overflow: hidden;

        p {
            margin: 16px;
        }

        &[open] {
            summary {
                background: var(--surface-surface, #15193a);
                .section-faq__item-arrow::after {
                    transform: rotate(-180deg);
                }
            }
        }

        &-arrow {
            @include flex(row, center, center);
            width: 36px;
            height: 36px;
            padding: 8px;
            border-radius: var(--border-radius-radius-medium, 12px);
            border: 1px solid var(--on-surface-on-surface-dark, #969dd3);
            @include transition(background);

            &::after {
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M16.667 7.419 15.1 5.833l-5.1 5.15-5.1-5.15-1.567 1.586L10 14.166z" fill="%23fff"/></svg>');
                width: 20px;
                height: 20px;
                display: block;
                transform-origin: center;
                @include transition(transform);
            }
        }
    }

    summary {
        @include relative();
        @include flex(row, center, space-between, 16px);
        min-height: 72px;

        padding: 16px;
        cursor: pointer;
        list-style: none;

        @include transition(background);

        &::marker {
            content: "";
        }

        &::-webkit-details-marker {
            display: none;
        }

        @include hover {
            .section-faq__item-arrow {
                background: var(--states-hovered, rgba(255, 255, 255, 0.08));
            }
        }

        @include active {
            .section-faq__item-arrow {
                background: var(--states-focused, rgba(255, 255, 255, 0.12));
            }
        }
    }

    .author-block {
        flex: 0.4324;
    }

    @include media-max-mlg {
        &__wrap {
            flex-direction: column;
        }

        &__list {
            width: 100%;
        }
        .author-block {
            width: 100%;
        }
    }

    @include media-max-sm {
        summary {
            padding: 8px 16px;
            min-height: 56px;
        }
    }
}
