include /layouts/base.pug
footer.footer
    .footer__row 
        a.footer__logo(href="#") 
            img(src="img/logo.png" alt="")
        nav.footer__nav 
            ul.footer__nav-list 
                each el in footerMenu 
                    li.footer__nav-item 
                        a.footer__nav-link(href= el.link, class=`${el.class ? el.class : ""}`)= el.title
    .footer__row.footer__row--copyright
        p.footer__copyright
            img(src="img/18+.png" alt="") 
            | Copyright © 2024. All right reserved
        if footerFlags
            ul.footer__flags    
                each item in footerFlags 
                    li  
                        img(src=`${item}`, alt="")
    .footer__info 
        p Gambling can be addictive.
            br
            | Play responsibly. Please be aware, that we do not offer any gambling products ourselves. The intention is to provide information and transparency.
        p This website is intended for Australians living abroad or outside of Australia.
        