include /layouts/base.pug
section.wrapper.section-hero 
    h1 Aviator
    p Aviator is an extremely popular slot game and it is easy to see why. It has everything a player could want – incredible graphics, exciting gameplay and the chance to become an instant millionaire.
    .section-hero__demo 
        img(src="img/aviator.png", alt="")
        .section-hero__demo-row 
            .section-hero__demo-logo 
                img(src="img/betera.png", alt="")
                | Best place to play Doh House Megaways
            .section-hero__demo-btns 
                button.btn.btn--filled.btn--secondary.btn--l.js-modal__btn.sf-link(data-sf-a="aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8=") 
                    | Play Now 
                button.btn.btn--filled.btn--elevated.btn--l.js-modal__open(data-modal-title="Aviator" data-modal-url="https://demo.spribe.io/launch/aviator?currency=INR&lang=EN") 
                    | Play demo 


