@use "../settings" as *;

.author-block {
    padding: 16px;
    border-radius: 8px;
    background: var(--surface-surface, #15193a);

    @include flex(column, flex-start, flex-start, 16px);

    img {
        max-width: 100%;
        max-height: 60px;
        object-fit: contain;
    }

    p {
        margin: 0;
    }

    & &__name {
        color: var(--on-surface-on-surface-light, #fff);
        @include font-title;
    }

    & &__position {
        margin-top: -8px;
        @include flex(row, center, flex-start, 8px);
        color: var(--on-surface-on-surface-light, #fff);
    }

    & &__rating {
        color: var(--on-surface-on-surface, #d2d5ea);
        text-align: center;
        @include font-label;
        @include rateStars(20px);
    }

    @include media-max-sm {
        gap: 8px;

        img {
            max-height: 56px;
        }

        & &__position {
            margin-top: 0;
        }
    }
}
