@use "../settings" as *;

.pros-cons {
    @include flex(column, stretch, flex-start, 24px);
    margin-top: 24px;

    &:first-child {
        margin-top: 0px;
    }

    &__item {
        &--cons {
            .pros-cons__list li::before {
                content: url('data:image/svg+xml,<svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.158 25.392q.552 0 .792.24.24.216.24.792v1.2q0 .6-.24.84-.24.216-.792.216h-.72q-.576 0-.816-.216-.216-.24-.216-.84v-1.2q0-.576.216-.792.24-.24.816-.24zM20.786 12c.802 0 1.452.65 1.452 1.452v5.388l-.216 3.503a1.23 1.23 0 0 1-2.453.007l-.235-3.51v-5.388c0-.802.65-1.452 1.452-1.452" fill="%23E67E22"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.334 2c9.941 0 18 8.059 18 18s-8.059 18-18 18-18-8.059-18-18 8.059-18 18-18m0 2c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.164-16-16-16" fill="%23E67E22"/></svg>');
            }
        }
    }

    &__title {
        color: var(--on-surface-on-surface-light, #fff);
        @include font-title-fixed;
    }

    &__list {
        margin-top: 16px;
        &:first-child {
            margin-top: 0;
        }

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;

        li {
            position: relative;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid var(--outline-outline-dark, #2d3365);

            color: var(--on-surface-on-surface-light, #fff);
            font-weight: 600;

            &::before {
                content: url('data:image/svg+xml,<svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.558 14.37a1 1 0 0 1 1.664 1.09l-.051.088-6.553 10a1.002 1.002 0 0 1-1.498.202l-5.447-4.8a1 1 0 0 1 1.322-1.5l4.582 4.037 5.92-9.035z" fill="%2355DA5C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.334 2c9.941 0 18 8.059 18 18s-8.059 18-18 18-18-8.059-18-18 8.059-18 18-18m0 2c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.164-16-16-16" fill="%2355DA5C"/></svg>');
                width: 40px;
                min-width: 40px;
                height: 40px;
                display: block;
                margin-bottom: 12px;
            }
        }
    }

    @include media-max-sm {
        margin-top: 16px;
        gap: 16px;

        &__list {
            margin-top: 8px;
            grid-template-columns: 1fr;
            gap: 8px;
            li {
                padding: 12px 12px 12px 46px;

                &::before {
                    transform-origin: top left;
                    transform: scale(calc(26 / 40));
                    margin-bottom: 0;
                    position: absolute;
                    top: 12px;
                    left: 12px;
                }
            }
        }
    }
}
