@use "../settings" as *;

.scrolling .table {
    td,
    th {
        pointer-events: none;
    }
}

.table.js-scroll-list {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    @include hideScrollbar;

    margin-top: 16px;

    &:first-child {
        margin-top: 0;
    }

    table {
        table-layout: auto;
        min-width: 700px;

        td {
            &:last-child {
                text-align: unset;
            }
        }
    }
}

table:not([class]),
table.wp-block-table {
    table-layout: fixed;
    border-spacing: 0 16px;
    margin-block: -16px;

    tbody {
        tr {
            @include trBorderRadius(4px);
        }
    }

    th {
        text-align: left;
        font-weight: 600;
        color: var(--on-surface-on-surface-light, #fff);
        @include tdPadding(16px 0, 16px, 24px);
    }

    td {
        @include tdPadding(16px, 16px, 24px);
        background: var(--surface-surface, #15193a);
        border-top: 1px solid var(--outline-outline-dark, #2d3365);
        border-bottom: 1px solid var(--outline-outline-dark, #2d3365);
        color: var(--on-surface-on-surface, #d2d5ea);

        &:first-child {
            color: var(--on-surface-on-surface-light, #fff);
            font-weight: 600;
            border-left: 1px solid var(--outline-outline-dark, #2d3365);
        }
        &:last-child {
            border-right: 1px solid var(--outline-outline-dark, #2d3365);
        }
    }

    tbody:first-child td:first-child {
        width: 1px;
        white-space: nowrap;
        background: var(--surface-surface-dim, #0c0f28);
        padding-right: 16px;

        & + td {
            padding-left: 24px;
        }
    }

    @include media-max-sm {
        td {
            @include tdPadding(12px, 12px, 16px);
        }

        tbody:first-child td:first-child + td {
            padding-left: 16px;
        }
    }
}
