mixin icon(name)
    if name === 'about-slot'
        include /img/svg/about-slot.svg
    if name === 'arrow-down'
        include /img/svg/arrow-down.svg
    if name === 'faq'
        include /img/svg/faq.svg
    if name === 'how-to'
        include /img/svg/how-to.svg
    if name === 'lang-arrow'
        include /img/svg/lang-arrow.svg
    if name === 'popular-slots'
        include /img/svg/popular-slots.svg
    if name === 'pros-cons'
        include /img/svg/pros-cons.svg
    if name === 'test'
        include /img/svg/test.svg
    if name === 'test2'
        include /img/svg/test2.svg