@use "settings" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--on-surface-on-surface-light, #fff);
    margin-bottom: 16px;
}

h3,
h4,
h5,
h6 {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }

    @include media-max-sm {
        margin-top: 16px;
    }
}

p:not([class]),
ul:not([class]),
ol:not([class]) {
    a:not([class]) {
        color: var(--text-secondary, #6b6b6b);
        text-decoration: underline;
        @include transition(color);

        @include hoverActiveFocus {
            color: var(--link-color-hover, #3b8ffe);
            text-decoration: none;
        }
    }
}

p:not([class]) {
    margin-top: 16px;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    @include font-h1;
}

h2 {
    @include font-h2;
}

h3,
h4,
h5,
h6 {
    @include font-title;
}

ul:not([class]),
ul.wp-block-list,
ol:not([class]),
ol.wp-block-list {
    margin-top: 16px;
    @include flex(column, flex-start, flex-start, 8px);

    &:first-child {
        margin-top: 0;
    }

    li {
        position: relative;
    }
}

ol:not([class]),
ol.wp-block-list {
    counter-reset: ol-default;

    li {
        counter-increment: ol-default;
        padding-left: 26px;

        &::before {
            position: absolute;
            content: counter(ol-default) ". ";
            width: 18px;
            left: 0;
            text-align: center;

            color: var(--accent-base, #3b8ffe);
        }
    }
}

ul:not([class]),
ul.wp-block-list {
    li {
        padding-left: 19px;

        &::before {
            content: "";
            position: absolute;
            top: 13px;
            left: 0;
            width: 11px;
            height: 11px;
            transform: translateY(-50%);
            background: url('data:image/svg+xml,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="5.323" width="8" height="8" rx="2" transform="rotate(-45 0 5.323)" fill="%233B8FFE"/></svg>');
        }
    }
}
