@use "settings" as *;

.wrapper {
    position: relative;
    width: 100%;
    max-width: calc(var(--width-container) + var(--offsets, 20px) * 2);

    margin-top: var(--wrapper-margin);
    margin-inline: auto;
    padding: 0 var(--offsets, 20px);

    &::before {
        content: "";
        position: absolute;
        top: -24px;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, #1e244c 0%, #4e589c 47.12%, #1e244c 100%);
    }

    &:first-child::before {
        display: none;
    }

    &.no-divider::before {
        display: none;
    }

    & > img {
        &:not(:first-child) {
            margin-top: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    & > .btn {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    @include media-max-md {
        & > .btn {
            width: 100%;
        }
    }
}

.sidebar-grid {
    width: 100%;
    max-width: calc(var(--width-container));
    background: var(--surface-surface-dim, #0c0f28);
    border-radius: 0 0 8px 8px;

    padding-block: 16px;
    padding-inline: var(--offsets, 20px);

    & > * {
        max-width: 100%;
        min-width: 0;
        margin-inline: 0;
        padding-inline: 0;
    }

    @include media-min-mlg {
        display: grid;
        grid-template-columns: 1fr 270px;
        column-gap: 56px;

        margin: var(--wrapper-margin) auto 0;
        margin-top: 0;

        & > * {
            grid-column: 1/2;
        }

        .wrapper:first-of-type {
            margin-top: 0;
            &::before {
                display: none;
            }
        }

        .sidebar {
            align-self: flex-start;
            grid-column: 2/3;
            grid-row: 1/100;
            width: 270px;
            padding-inline: 0;
        }
    }

    @include mediaMax(1320px) {
        max-width: calc(100% - var(--offsets, 20px) * 2);
        margin-inline: var(--offsets, 20px);
    }

    @include media-max-sm {
        padding: 16px;
    }
}

.sidebar {
    width: 100%;
    @include flex(column, stretch, flex-start, 24px);

    @include media-max-mlg {
        gap: 48px;

        &:first-child {
            margin-top: 0;
        }

        section {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -24px;
                left: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #1e244c 0%, #4e589c 47.12%, #1e244c 100%);
            }

            &:first-child::before {
                display: none;
            }
        }
    }

    @include media-max-sm {
        h2,
        h3 {
            @include font-h2;
        }
    }
}

.section-hero + .wrapper {
    @include media-max-sm {
        margin-top: 0;
    }
}
